doctype html
html(ng-app)
  head
    include ./includes/bower_bootstrap.jade
    title TicTacToe #{move}
  body
    h1 Hi #{username}
    h2 Want to play a game?
    p #{something}
    div(ng-init="username = 'Hoppy'")
      p Username: {{ username }}
